################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/StoryTeller.TestRail.Sync/bin/Debug
/StoryTeller.TestRail.Sync/obj/Debug
/StoryTeller.TestRail.Sync/StoryTeller.TestRail.Sync.csproj.user
*.suo
